$color-white: #ffffff;
$color-hover: #b1b1b1;
$color-primary: #000114;
$color-orange: #ff3f04;
$color-yellow: #ffb300;
$color-blue-dark: #09213d;
$color-blue: #263e66;

$max-content-width: 1440px;
$brake-point-1: 1080px;
$brake-point-2: 500px;