@import '../../styles/mixins';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.wrapper__header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  height: 100%;
  padding: 26px 16px 40px 26px;

  @media (max-width: $brake-point-2) {
    display: flex;
    align-items: center;
    padding: 16px 10px;
    width: 80%;

    .logo {
      width:200px;
    }
  }
}
